/* Ensure everything looks consistent across different devices */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Header styles */
.header {
  display: flex;
  justify-content: center; /* Center the logo */
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 150px;  /* Adjust size as needed */
  height: auto;  /* Maintain aspect ratio */
}

/* Layout for content */
.content {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping on small screens */
  justify-content: space-between;
}

/* Video section styling */
.video-section {
  flex: 2; /* Takes more space */
  margin-right: 20px;
}

/* Styling the file input */
input[type="file"] {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

/* Video player container */
.react-player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  margin-bottom: 20px;
}

.react-player-wrapper .react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px;
  overflow: hidden;
}

/* Inputs section styling */
.inputs-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Hide overflow on main container */
}

.inputs-container {
  overflow-y: auto; /* Add vertical scrollbar */
  max-height: 60vh; /* Limit height */
  padding-right: 10px; /* Space for scrollbar */
}

.subtitle-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.subtitle-input span {
  min-width: 60px;
  text-align: center;
  color: #6c757d;
  flex: 0 0 auto;
}

.subtitle-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

/* Buttons styling */
.btn-primary, .btn-success {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:disabled {
  background-color: #6c757d;
  border-color: #6c757d;
}
